main{
    width: 80%;
    height: 500px;
    border:1px solid black;
    box-shadow: ;
    margin:auto;
    margin-top: 30px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.parent{
    width: 20%;
    height: 70%;
    border:1px solid black;
    margin:auto;
    
}
.child{
    width: 50%;
    height: 20%;
    border:1px solid black;
    margin:auto;
    margin-top: 10px;
}
.child1{
    width: 50%;
    height: 20%;
    border:1px solid black;
    margin:auto;
    margin-top: 10px;
}
.child2{
    width: 50%;
    height: 20%;
    border:1px solid black;
    margin:auto;
    margin-top: 10px;
}
